<% @result.each do |id, row| %>
  <section>
    <h1 style="display:inline-block"><%=row[:user][:name] %></h1>
    <% if row[:user][:id].to_i != session[:id] then%>
    <form style="display:inline-block;" method="POST" action="./follow">
      <input type="hidden" name="to_id" value="<%=row[:user][:id]%>">
      <input type="hidden" name="follow" value="<%=row[:user][:follow] %>">
      <input class="button <% if row[:user][:follow] == 1%>fav<%end%>" type="submit" value="+">
    </form>
  <% end %>
    <article><%=row[:text] %></article>
    <% if !row[:reply].empty? %>
      <div class="reply-box">
        <% row[:reply].each do |rep_row| %>
          <div class="reply">
            <h2><%=rep_row[:user][:name] %></h2>
            <article class="reply-msg"><%=rep_row[:text] %></article>
          </div>
        <% end %>
      </div>
    <% end %>
    <form method="POST" action="./reply">
      <input type="hidden" name="to_id" value="<%=id %>">
      <input type="hidden" name="user_id" value="<%=session[:id] %>">
      <input type="text" name="rep_text" style="height:30px;width:400px">
      <input class="button" type="submit" value="返信する">
    </form>
    <form method="POST" action="./fav">
      <input type="hidden" name="tw_id" value="<%=id %>">
      <input type="hidden" name="fav" value="<%=row[:fav][:flg] %>">
      <input class="button <% if row[:fav][:flg] == 1%>fav<%end%>" type="submit" value="★<%=row[:fav][:num] %>">
    </form>
 </section>
<% end %>
